@tailwind base;

@tailwind components;

@tailwind utilities;

.text-indent-quote {
    text-indent: -0.3em;
}

.separator {
    background-image: linear-gradient(to right, transparent, #d05353, transparent);
}

.highlight {
    box-shadow: 0 0 50px #D05353;
}

a:focus {
    outline: 3px dashed #fff;
}

button:focus {
    outline: 3px dashed #fff;
}
